.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.wave1 .shape-fill {
    fill: #260033;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: .25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #F1F1F1;
}

.navbar {
    width: 5rem;
    height: 31vh;
    position: fixed;
    top: 30vh;
    z-index: 1;
    transition: width 600ms ease;
    background-color: #F1F1F1;
    border-radius: 1rem;
}
  

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
  }

 .nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: #000000;
    text-decoration: none;
    filter: grayscale(100%)  opacity(0.7);
    transition: var(--transition-speed);
} 

.nav-link svg {
    min-wth: 2rem;
    margin: 0 1.5rem;
}

.link-text {
    display:none;
    margin-left:1rem; 
}
 
 .nav-link .link-text {
    display:hidden;
}

.nav-link:hover {
    filter:grayscale(0%) opacity(1);
    background: var(#F1F1F1)
    color: var(#1e1e24)
    width: 14rem;
}
.nav-link:hover .link-text {
    display: block;
}

.navbar:hover {
    width: 14rem;
}

#download-link {
    display: inline-block;
    padding: 5rem 5rem;
    background-color: transparent;
    border: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    background-image: url('./download-solid.svg')
}
  
navbar:hover.link-text {
    display: block;
}

main {
    margin-left: 5rem;
    padding:1rem;
}
