@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.wave1 .shape-fill {
    fill: #260033;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: .25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #F1F1F1;
}

.navbar {
    position: fixed;
    z-index: 1;
    transition: width 400ms ease;
    background-color: #F1F1F1;
    border-radius: 1rem;
}
  

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

 .nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: #000000;
    text-decoration: none;
    filter: grayscale(100%)  opacity(0.7);
    transition: var(--transition-speed);
} 

.link-text {
    display:none;
    margin-left:1rem; 
}
 
.nav-link .link-text {
    display:hidden;
}

#download-link {
    display: inline-block;
    padding: 5rem 5rem;
    background-color: transparent;
    border: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    background-image: url('./download-solid.svg')
}

main {
    margin-left: 5rem;
    padding:1rem;
}


/* Small screens */
@media only screen and (max-width: 600px) {
    #blob-motion {
        z-index: 0;
        position: absolute;
        transform: translateY(-40%);
    }

    .navbar {
        z-index: 2;
        width: 100vw;
        height: 4rem;
        bottom: 0;
    }

    .nav-link svg {
        position: relative;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
    
    .navbar:hover .link-text{
        display:none;
    }

    .nav-link svg {
        min-width: 1rem;
        max-width: 2rem;
    }
}
  
/* Large screens */
@media only screen and (min-width: 600px) {
    #blob-motion {
        z-index: 0;
        position: absolute;
        transform: translateY(-20%);
    }

    .navbar {
        width: 5rem;
        height: 23rem;
        top: 30vh;
    }
    .nav-link svg {
        position: relative;
    }

    .navbar:hover {
        width: 13rem;
    }

    .navbar:hover .link-text {
        z-index: 2;
        display: inline;
    }

    navbar:hover.link-text {
        z-index: 2;
        display: block;
    }
    .nav-link:hover {
        filter:grayscale(0%) opacity(1);
        background: var(#F1F1F1);
        color: var(#1e1e24);
        width: 14rem;
    }

    .nav-link svg {
        min-width: 2rem;
        margin: 0 1rem;
        max-width: 2rem;
    }
}

.media-scroller {
    --spacer: 1rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 25%;

    padding: 0 var(--spacer) var(--spacer);

    overflow-x:auto;
    overscroll-behavior-inline: contain;
}

.media-scroller::-webkit-scrollbar {
    border-radius: 1rem;
    width: 1rem;
    background-color: #f1f1f1;
}

.media-scroller::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #1e1e24;
}

.media-element {
    height: 15rem;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
    transition: height 300ms ease;
}

.media-element:hover{
    height:32rem;
}

.media-element .title {
    color: #1e1e24;
    transition: color 600ms ease;
}

.media-element:hover .title{
    color:#3eb59d;
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer, 1rem);
}

.snaps-inline  > * {
    scroll-snap-align: start;
}

.media-element p{
    color:#1e1e24;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

div .messg {
    color: #1e1e24;
    display: none;
}

.media-element:hover .messg {
    display: inline;
}
